<h1>Basic Todo List Template</h1>
<p>{display_todos(@state)}</p>
<%= if todo_form = Enum.find(@forms, &(&1.name == "todo_form")) do %>
  <.simple_form
    for={todo_form.form}
    phx-submit={todo_form.config.submit_event}
    phx-change={todo_form.config.change_event}
  >
    <.input field={todo_form.form[:text]} placeholder="Add a new todo" class="flex-1" />
    <.button type="submit">
      Add
    </.button>
  </.simple_form>
<% end %>
